#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 60%;
  min-width: 580px;
  margin: auto;
}

.site-page-header-ghost-wrapper {
  background-color: #f5f5f5;
  padding: 10px;
}

.msg-list {
  display: flex;
  flex-direction: column-reverse;
  height: 380px;
  overflow-y: scroll;
}

.msg-list::-webkit-scrollbar {
  display: none;
}
