.msg-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: fit-content;
}

.msg-name {
  color: #8c8c8c;
  font-size: 12px;
}

.outgoing {
  align-items: flex-end;
  margin-left: auto;
}

.msg-content {
  border-radius: 15px;
  margin: 3px 0;
  max-width: 500px;
  padding: 8px 10px;
  width: fit-content;
}

.incoming > .msg-content {
  background-color: #f0f0f0;
  border-radius: 0 10px 10px 10px;
  color: #141414;
}

.outgoing > .msg-content {
  background-color: #1890ff;
  border-radius: 10px 0 10px 10px;
  color: #fafafa;
}
